n8n-workflows/editorial-ai-process.json
{
  "name": "HEBELING OS - Editorial AI Pipeline (editorial-ai-process)",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "editorial-ai-process",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Editorial AI Process Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        300
      ],
      "webhookId": "a1b2c3d4-0001-4000-8000-000000000001"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.body.project_id }}",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Validate Payload",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Editorial AI Process Webhook').item.json.body.supabase_url + '/rest/v1/editorial_projects?id=eq.' + $('Editorial AI Process Webhook').item.json.body.project_id }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Editorial AI Process Webhook').item.json.body.supabase_service_key }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Editorial AI Process Webhook').item.json.body.supabase_service_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ status: \"processing\", updated_at: $now.toISO() }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Update Project Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        720,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.supabase_url + '/rest/v1/editorial_activity_log' }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.supabase_service_key }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.supabase_service_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ project_id: $json.project_id, actor_id: $json.actor_id, action: $json.action, details: JSON.stringify({ action: $json.pipeline_action, stage: $json.stage, triggered_at: $json.triggered_at, has_manuscript_text: $json.has_manuscript_text }), created_at: $json.created_at }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Log Pipeline Activity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1200,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, project_id: $('Editorial AI Process Webhook').item.json.body.project_id, stage: $('Editorial AI Process Webhook').item.json.body.current_stage, message: 'Pipeline editorial activado en n8n. Procesando manuscrito.', received_at: new Date().toISOString() }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1440,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'Payload inválido: se requiere project_id', received: $json.body }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "a1b2c3d4-0006-4000-8000-000000000006",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        720,
        420
      ]
    },
    {
      "parameters": {
        "content": "## HEBELING OS — Editorial AI Pipeline\n### WF-02: editorial-ai-process\n\n**Propósito:** Recibe el trigger de pipeline desde HEBELING OS cuando el staff ejecuta el pipeline IA en un proyecto editorial.\n\n**Webhook URL:**\n`POST /webhook/editorial-ai-process`\n\n**Configuración requerida en HEBELING OS:**\n```\nN8N_WEBHOOK_URL=https://<tu-instancia>.app.n8n.cloud/webhook/editorial-ai-process\n```\n\n**No requiere credenciales adicionales en n8n** — las credenciales de Supabase se pasan en el payload desde HEBELING OS.",
        "height": 360,
        "width": 560,
        "color": 2
      },
      "id": "a1b2c3d4-0007-4000-8000-000000000007",
      "name": "Sticky Note - Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        128,
        620
      ]
    },
    {
      "parameters": {
        "content": "## Payload que envía HEBELING OS\n\n```json\n{\n  \"action\": \"run_pipeline\",\n  \"project_id\": \"uuid\",\n  \"manuscript_title\": \"string\",\n  \"author_name\": \"string\",\n  \"language\": \"es\",\n  \"genre\": \"string\",\n  \"current_stage\": \"ingesta\",\n  \"manuscript_text\": \"...texto...\",\n  \"manuscript_file\": { \"id\": \"...\", ... },\n  \"triggered_by\": \"user-id\",\n  \"triggered_at\": \"ISO8601\",\n  \"supabase_url\": \"https://...\",\n  \"supabase_anon_key\": \"...\",\n  \"supabase_service_key\": \"...\"\n}\n```",
        "height": 360,
        "width": 440,
        "color": 4
      },
      "id": "a1b2c3d4-0008-4000-8000-000000000008",
      "name": "Sticky Note - Payload",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        620
      ]
    },
    {
      "parameters": {
        "content": "## Flujo del Diagrama\n\n1. **Webhook** recibe POST desde HEBELING OS\n2. **Validar Payload** → verifica que `project_id` existe\n3. **Actualizar Estado** → PATCH a Supabase: `status=processing`\n4. **Registrar Actividad** → INSERT en `editorial_activity_log`\n5. **Responder Éxito** → JSON 200 con confirmación\n\n**Error:** Si falta `project_id`, responde 400.\n\n**Nota:** Las credenciales de Supabase se usan directamente del payload — no necesitas configurarlas en n8n.",
        "height": 320,
        "width": 440,
        "color": 3
      },
      "id": "a1b2c3d4-0009-4000-8000-000000000009",
      "name": "Sticky Note - Flow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1200,
        620
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "field-001",
              "name": "project_id",
              "value": "={{ $('Editorial AI Process Webhook').item.json.body.project_id }}",
              "type": "string"
            },
            {
              "id": "field-002",
              "name": "actor_id",
              "value": "={{ $('Editorial AI Process Webhook').item.json.body.triggered_by }}",
              "type": "string"
            },
            {
              "id": "field-003",
              "name": "action",
              "value": "n8n_pipeline_received",
              "type": "string"
            },
            {
              "id": "field-004",
              "name": "pipeline_action",
              "value": "={{ $('Editorial AI Process Webhook').item.json.body.action }}",
              "type": "string"
            },
            {
              "id": "field-005",
              "name": "stage",
              "value": "={{ $('Editorial AI Process Webhook').item.json.body.current_stage }}",
              "type": "string"
            },
            {
              "id": "field-006",
              "name": "triggered_at",
              "value": "={{ $('Editorial AI Process Webhook').item.json.body.triggered_at }}",
              "type": "string"
            },
            {
              "id": "field-007",
              "name": "has_manuscript_text",
              "value": "={{ !!$('Editorial AI Process Webhook').item.json.body.manuscript_text }}",
              "type": "boolean"
            },
            {
              "id": "field-008",
              "name": "supabase_url",
              "value": "={{ $('Editorial AI Process Webhook').item.json.body.supabase_url }}",
              "type": "string"
            },
            {
              "id": "field-009",
              "name": "supabase_service_key",
              "value": "={{ $('Editorial AI Process Webhook').item.json.body.supabase_service_key }}",
              "type": "string"
            },
            {
              "id": "field-010",
              "name": "created_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-000a-4000-8000-00000000000a",
      "name": "Extract Payload Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        200
      ]
    }
  ],
  "connections": {
    "Editorial AI Process Webhook": {
      "main": [
        [
          {
            "node": "Validate Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Payload": {
      "main": [
        [
          {
            "node": "Update Project Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Project Status": {
      "main": [
        [
          {
            "node": "Extract Payload Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Pipeline Activity": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Payload Fields": {
      "main": [
        [
          {
            "node": "Log Pipeline Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "hebeling-os"
  },
  "pinData": {}
}